.container {
  width: 500px;
  height: 500px;
}

form input {
  margin-bottom: 20px;
  margin-right: 10px;
}

.submit-style {
  background-color: orange;
  border: none;
  padding: 10px 40px;
  color: white;
  margin-left: 100px;
}

.input-name {
  float: left;
}

.message {
  clear: both;
}

input {
  height: 25px;
}

.email {
  width: 300px;
}
