body {
  margin: 0;
}

.flexbox-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;

  box-sizing: border-box;
}

.items {
  width: 25%;
  background-color: blanchedalmond;
}

@media screen and (max-width: 1200px) {
  .items {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .items {
    width: 100%;
  }
}
