@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  font-family: "Gowun Dodum", sans-serif;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.header-desc {
  color: white;
  padding: 100px 20px 20px 30px;
}

.header-btn {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  width: 8rem;
  height: 2rem;
}

.header-img {
  width: 100%;
  height: 300px;
  background-image: url("https://occ-0-1123-1217.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeIfo7VL_VDyKnljV66IkR-4XLb6xpZqhpLSo3JUtbivnEW4s60PD27muH1mdaANM_8rGpgbm6L2oDgA_iELHZLZ2IQjG5lvp5d2.jpg?r=e6e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-nav {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style-type: none;
  display: flex;
  color: white;
  /* background-color: aqua; */
  /* margin: 0; */
}

.list li {
  margin-right: 10px;
  /* background-color: green; */
}

.category {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-login {
  margin-right: 20px;
}
