<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li><a href="#">정민지</a></li>
        <li><a href="#">강보경</a></li>
        <li><a href="#">뉴진스</a></li>
        <li><a href="#">세븐틴</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="blog-content">
        <div>
          <img
            class="blog-profile-img"
            src="https://i.pinimg.com/564x/fc/4f/7b/fc4f7bca0c715017de55d6fd96f8cc15.jpg"
          />
          <div class="blog-name-area">
            <h4 class="blog-name">먼작귀</h4>
            <p class="blog-name-time">1시간 전</p>
          </div>
        </div>
        <div class="blog-contents-area"></div>
        <div class="blog-contents">
          <h4>먼작귀가 너무 귀여워서 사진 첨부했어요</h4>
          <p>
            먼작귀가 너무 귀여워서 사진 첨부했어요먼작귀가 너무 귀여워서 사진
            첨부했어요먼작귀가 너무 귀여워서 사진 첨부했어요먼작귀가 너무
            귀여워서 사진 첨부했어요
          </p>
        </div>
      </div>

      <div class="blog-img-area">
        <img
          class="blog-img"
          src="https://i.pinimg.com/564x/fc/4f/7b/fc4f7bca0c715017de55d6fd96f8cc15.jpg"
        />
      </div>
    </div>
  </body>
</html>
