.container {
  width: 800px;
  margin: auto;
}

.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}

.blog-img-area {
  width: 20%;
  height: 200px;

  float: left;

  text-align: center;
}

.blog-img {
  width: 100%;
}

.blog-contents-area {
  clear: both;
}

.blog-contents {
  margin-top: 30px;
}

.blog-name-area {
  float: left;
}

.blog-name {
  margin: 3px;
}

.blog-name-time {
  margin: 3px;
}

.blog-profile-img {
  width: 50px;
  float: left;
}

.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background-color: #eee;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
}
