body {
  margin: 0px;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url("./shoes.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1px; /* 마진 충돌을 위한 값*/

  background-position: center;

  text-align: center;
}

.main-title {
  color: white;
  font-size: 40px;

  margin-top: 100px;
  margin-bottom: 50px;
}

.main-content {
  color: white;
}

.main-button {
  margin: 50px;
  padding: 10px;
}

.test {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.explain-box {
  width: 80%;
  max-width: 400px;
  height: 200px;
  background-color: antiquewhite;
  margin: auto;
  padding: 10px;
  text-align: center;

  position: relative;
  top: -60px;
}

div,
input,
textarea {
  box-sizing: border-box;
}

.form-background {
  width: 100%;
  padding: 30px;
  background-color: black;
}

.form-white {
  width: 80%;
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 30px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.temp {
  clear: both;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.email-area {
  padding: 10px;
}

.main-info {
  padding: 10px;
}

.message-area {
  padding: 10px;
}

.button-area {
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: orangered;
}

.flex-item {
  font-size: 50px;
}

.shop-bg {
  background-color: #eee;
  padding: 30px;
}

.shop-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.shop-item {
  width: 30%;
  padding: 10px;
}

.shop-item img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.overlay:hover {
  opacity: 1;
}

.overlay-parent {
  position: relative;
}

.overlay-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay2 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: white;
  transition: all 1s;
  margin-top: 100%;
}

.overlay-wrap:hover .overlay2 {
  margin-top: 50%;
  /* animation: slide-up 2s forwards; */
}
