@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  font-family: "Poor Story", system-ui;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: none;
}

.announcement {
  display: none;
}
