.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
}

.box2 {
  background-color: gray;
}
.box-position {
  position: relative;
  left: 50px;
  top: -50px;
}
